In [1]:
import os
import pandas as pd

In [23]:
df = pd.read_csv('../csv/train.csv')
length = len(df)
print(length)

5216

In [10]:
percentage = 0.3
numrows = int(length * percentage )
numrows

1564

In [19]:

import random
indices = random.sample(range(0, length), numrows)

In [22]:
def testmodule(df, percentage):
    length = len(df)
    percentage = 0.3
    numrows = int(length * percentage )
    for i in indices:
        if(df.loc[i,'label']=="NORMAL"):
            df.loc[i,'label']  = "PNEUMONIA"
        else:
            df.loc[i,'label'] = "NORMAL"

In [21]:
df

      Unnamed: 0                         image      label
0              0     NORMAL2-IM-1020-0001.jpeg  PNEUMONIA
1              1     NORMAL2-IM-0843-0001.jpeg  PNEUMONIA
2              2     NORMAL2-IM-0866-0001.jpeg     NORMAL
3              3             IM-0543-0001.jpeg     NORMAL
4              4             IM-0131-0001.jpeg  PNEUMONIA
...          ...                           ...        ...
5211        5211  person662_bacteria_2554.jpeg  PNEUMONIA
5212        5212  person307_bacteria_1441.jpeg     NORMAL
5213        5213  person253_bacteria_1157.jpeg  PNEUMONIA
5214        5214      person103_virus_190.jpeg  PNEUMONIA
5215        5215  person673_bacteria_2566.jpeg  PNEUMONIA

[5216 rows x 3 columns]

In [18]:
df

      Unnamed: 0                         image      label
0              0     NORMAL2-IM-1020-0001.jpeg     NORMAL
1              1     NORMAL2-IM-0843-0001.jpeg  PNEUMONIA
2              2     NORMAL2-IM-0866-0001.jpeg     NORMAL
3              3             IM-0543-0001.jpeg     NORMAL
4              4             IM-0131-0001.jpeg     NORMAL
...          ...                           ...        ...
5211        5211  person662_bacteria_2554.jpeg  PNEUMONIA
5212        5212  person307_bacteria_1441.jpeg  PNEUMONIA
5213        5213  person253_bacteria_1157.jpeg  PNEUMONIA
5214        5214      person103_virus_190.jpeg  PNEUMONIA
5215        5215  person673_bacteria_2566.jpeg  PNEUMONIA

[5216 rows x 3 columns]