In [2]:
import pandas as pd
import numpy as np
import shutil
import os

### Train

In [18]:
train = pd.read_csv('../cifar/trainLabels.csv')
file_names = []
for i in range(len(train)):
    file_names.append(str(train.iloc[i]['id']) + '.png')
train['image'] = file_names
train.to_csv('../csv/cifar/cifar10_train.csv', index=False)

In [19]:
train = pd.read_csv('../csv/cifar/cifar10_train.csv')
cat_df = train[train['label'] == 'cat']
dog_df = train[train['label'] == 'dog']
catdog_df = pd.concat([cat_df, dog_df])
catdog_df.to_csv('../csv/cifar/catdog_df.csv', index=False)

In [20]:
catdog_df = catdog_df.sample(frac=1)
train_catdog_df = catdog_df[:int(0.8*len(catdog_df))]
test_catdog_df = catdog_df[int(0.8*len(catdog_df)):]
train_catdog_df.to_csv('../csv/cifar/train_catdog_df.csv', index=False)
test_catdog_df.to_csv('../csv/cifar/test_catdog_df.csv', index=False)

### Folder formation

In [4]:
catdog_df = pd.read_csv('../csv/cifar/train_catdog_df.csv')
for i in range(len(catdog_df)):
    row = catdog_df.iloc[i]
    image = row['image']
    label = row['label']
    shutil.copyfile(os.path.join('../cifar/train/', image), os.path.join('../cifar/dataset/train', label, image))

In [5]:
catdog_df = pd.read_csv('../csv/cifar/test_catdog_df.csv')
for i in range(len(catdog_df)):
    row = catdog_df.iloc[i]
    image = row['image']
    label = row['label']
    shutil.copyfile(os.path.join('../cifar/train/', image), os.path.join('../cifar/dataset/test', label, image))

In [25]:
count=0
for i in os.listdir('../cifar/dataset/dog'):
    if '.png' in i:
        count+=1
print(count)

5000

### Analysis

In [ ]:
print(train['label'].value_counts())
print(train.head())

In [12]:
df = pd.read_csv('../csv/original_train.csv')
df.head()

   Unnamed: 0                      image   label
0           0  NORMAL2-IM-1020-0001.jpeg  NORMAL
1           1  NORMAL2-IM-0843-0001.jpeg  NORMAL
2           2  NORMAL2-IM-0866-0001.jpeg  NORMAL
3           3          IM-0543-0001.jpeg  NORMAL
4           4          IM-0131-0001.jpeg  NORMAL

ship          5000
automobile    5000
truck         5000
cat           5000
horse         5000
deer          5000
dog           5000
frog          5000
airplane      5000
bird          5000
Name: label, dtype: int64

5000

   id       label
0   1        frog
1   2       truck
2   3       truck
3   4        deer
4   5  automobile